<header>
  <app-header></app-header>
</header>

<div class="container mx-auto p-4 mt-8">
  <app-filter (room)="openModal()"  (openModal)="openChatModal()"></app-filter>
  <!-- <app-searchbar></app-searchbar> -->

  <app-room-card  
  (joinRoom)="joinRoom($event)">
</app-room-card>
</div>

<div *ngIf="isModelOpen">
  <app-create-room-modal (closeModal)="closeModal()" (submit)="submitRoom($event)"></app-create-room-modal>
</div>

<div *ngIf="isChatMOdelOpen">
  <app-chat (close)="closeChatModal()"></app-chat>
</div>
