<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-center">Admin Login</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <ng-container *ngFor="let field of fields">
          <div class="mb-4 relative">
            <label [for]="field.name" class="block text-sm text-white">{{ field.label }}</label>
            <input 
              [type]="field.type"
              [formControlName]="field.name"
              [placeholder]="field.placeholder"
              [id]="field.name"
              class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-purple-500 mt-2"
            />
            <div *ngIf="loginForm.get(field.name)?.touched && loginForm.get(field.name)?.invalid" 
                 class="text-red-500 text-sm absolute top-full transform translate-y-1">
              {{ getErrorMessage(field.name) }}
            </div>
          </div>
        </ng-container>
  
        <button type="submit" class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition duration-200" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
      
      <!-- <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-3 rounded mt-4">
        {{ errorMessage }}
      </div> -->
    </div>
  </div>
  