<div class="grid grid-cols-1 md:grid-cols-6 gap-4 mb-6">
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <h2 class="text-[#6B7280] text-sm font-medium">Total Users</h2>
    <p class="text-2xl font-bold text-[#1F2937]">{{ totalUsers }}</p>
  </div>
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <h2 class="text-[#6B7280] text-sm font-medium">Total Mentors</h2>
    <p class="text-2xl font-bold text-[#1F2937]">{{ totalMentors }}</p>
  </div>
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <h2 class="text-[#6B7280] text-sm font-medium">Total Revenue</h2>
    <p class="text-2xl font-bold text-[#1F2937]">₹{{ totalRevenue }}</p>
  </div>
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <h2 class="text-[#6B7280] text-sm font-medium">Total Applications</h2>
    <p class="text-2xl font-bold text-[#1F2937]">{{ totalApplications }}</p>
  </div>
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <h2 class="text-[#6B7280] text-sm font-medium">Total Reports</h2>
    <p class="text-2xl font-bold text-[#1F2937]">{{ totalReports }}</p>
  </div>
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
    <h2 class="text-[#6B7280] text-sm font-medium">Total Admins</h2>
    <p class="text-2xl font-bold text-[#1F2937]">{{ totalAdmins }}</p>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md w-full">
    <h2 class="text-xl font-bold text-[#1F2937] mb-4">User Growth</h2>
    <!-- <div class="flex justify-between mb-4">
      <button (click)="toggleUserGrowthView('month')" class="bg-[#10B981] text-[#F9FAFB] py-2 px-4 rounded-lg hover:bg-[#1F2937] transition-all duration-200">
        Monthly
      </button>
      <button (click)="toggleUserGrowthView('year')" class="bg-[#10B981] text-[#F9FAFB] py-2 px-4 rounded-lg hover:bg-[#1F2937] transition-all duration-200">
        Yearly
      </button>
    </div> -->
    <canvas #userChartCanvas></canvas>
  </div>
  <div class="bg-[#F9FAFB] p-4 rounded-lg shadow-md w-full">
    <h2 class="text-xl font-bold text-[#1F2937] mb-4">Revenue Analytics</h2>
    <canvas #revenueChartCanvas></canvas>
  </div>
</div>