<!-- Footer Section -->
<footer class="bg-[#674188] text-white py-10">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <!-- About Section -->
            <div>
                <h3 class="font-semibold text-lg mb-4">Master the Art of Communication</h3>
                <p>This self-learning platform empowers you to enhance your language skills and connect with others.</p>
            </div>

            <!-- Features Section -->
            <div>
                <h3 class="font-semibold text-lg mb-4">SpeakElse Offered</h3>
                <ul>
                    <li>Create your own course!</li>
                    <li>Learn a variety of languages.</li>
                </ul>
            </div>

            <!-- Links Section -->
            <div>
                <h3 class="font-semibold text-lg mb-4">Products</h3>
                <ul>
                    <li><a href="#" class="hover:text-gray-300">Landing Page</a></li>
                    <li><a href="#" class="hover:text-gray-300">About Us</a></li>
                    <li><a href="#" class="hover:text-gray-300">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div>
                <h3 class="font-semibold text-lg mb-4">Contact Information</h3>
                <ul>
                    <li>Phone: +34 933 478 486</li>
                    <li>Email: <a href="mailto:info@speakelse.com" class="hover:text-gray-300">infospeakelse.com</a></li>
                    <li>Location: Barcelona, C/ de Sardenya</li>
                </ul>
            </div>
        </div>

        <div class="flex space-x-6 mt-5 ml-2" > <!-- Flex container for social media icons -->
            <a href="https://www.linkedin.com" target="_blank" class="hover:text-gray-300">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="hover:text-gray-300">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" class="hover:text-gray-300">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

        
        <!-- Footer Bottom Section -->
        <div class="border-t border-white mt-6 pt-4  text-white">
            <div class="flex justify-between items-center">
                <p class="text-left">&copy; 2024 SpeakElse. All Rights Reserved.</p>
                <div class="mt-2 text-right space-x-10">
                    <a href="#" class="hover:text-gray-300 ">Terms & Conditions</a>  
                    <a href="#" class="hover:text-gray-300">Privacy Policy</a>
                </div>
            </div>
           
        </div>
    </div>
    
</footer>
