<body class="min-h-screen flex flex-col items-center justify-center p-4"
      style="background: linear-gradient(to right, #C8A1E0, #674188);">

  <!-- Navigation Bar -->
  <app-nav-logo class="absolute top-0 left-0 w-full"></app-nav-logo>
  
 <div class="bg-[rgba(226,191,217,0.5)] rounded-xl shadow-lg flex w-full max-w-4xl mt-8 relative">
  <!-- Image Section -->
    <div class="hidden md:block w-1/2">
      <img src="../assets/images/M151_Job Interview Illustrations on Yellow Images Creative Store - 68636.jpeg" alt="image" class="w-full h-full object-cover rounded-l-xl" />
    </div>
    
  <!-- Form Section -->
  <div class="w-full md:w-1/2 p-8">
    <h2 class="text-3xl font-semibold mb-4 text-white">Log In</h2>
    <p class="text-sm mb-8 text-white">
      New to SpeakElse? 
      <a routerLink="/auth/register" class=" text-[#674188] hover:underline">Sign Up</a>
    </p>

    <div *ngIf="loginError" class="mb-4 text-red-500">
      {{ loginError }}
    </div>

    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ng-container *ngFor="let field of fields">
        <div class="mb-4">
          <label [for]="field.name" class="block text-sm text-white">{{ field.label }}</label>
          <input 
            [type]="field.type"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
            [id]="field.name"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-purple-500"
          />
          <div *ngIf="loginForm.get(field.name)?.touched && loginForm.get(field.name)?.invalid" class="text-red-500 text-sm">
            {{ getErrorMessage(field.name) }}
          </div>
          
        </div>
      </ng-container>

      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
          <input type="checkbox" id="remember" formControlName="remember" class="h-4 w-4 text-purple-dark focus:ring-purple-dark border-gray-300 rounded">
          <label for="remember" class="ml-2 block text-sm text-white">Remember me</label>
        </div>
        <a routerLink='/auth/resetlink' class="text-sm text-purple-dark hover:underline">Forgot password?</a>
      </div>

      <button type="submit" class="w-full py-2 px-4 bg-[#674188] hover:bg-[rgba(103,65,136,0.5)] text-white font-semibold rounded-md transition duration-200">
        Log in
      </button>
    </form>

    <div class="mt-6 text-center">
      <p class="text-sm mb-4 text-white">Or continue with</p>
      <button class="bg-[#674188] text-white px-4 py-2 rounded-md hover:bg-[rgba(103,65,136,0.5)]">
        <svg class="w-5 h-5 inline-block mr-2" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z" />
        </svg>
        Sign in with Google
      </button>
    </div>
  </div>
</div>

  
</body>
