<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body class="min-h-screen flex flex-col items-center justify-center p-4"
      style="background: linear-gradient(to right, #C8A1E0, #674188);">

    <!-- Navigation Bar -->
    <app-nav-logo class="absolute top-0 left-0 w-full"></app-nav-logo>

    <!-- Main Reset Password Content -->
    <div class="bg-[rgba(226,191,217,0.5)] rounded-xl shadow-lg flex w-full max-w-4xl mt-8">
        <!-- Left side - Image -->
        <div class="w-1/2 p-8 hidden md:block">
            <img src="../assets/images/M151_Job Interview Illustrations on Yellow Images Creative Store - 68636.jpeg"
                 alt="image" class="w-full h-full object-cover rounded-lg" />
        </div>

        <!-- Right side - Reset Password form -->
        <div class="w-full md:w-1/2 p-8 text-white">
            <h2 class="text-3xl font-semibold mb-4">Reset Password</h2>
            <p class="text-sm mb-8">Please enter your email address to receive a password reset link.</p>

            <div *ngIf="emailSentSuccess" class="text-green-600 text-center mt-2 font-bold">
                {{ emailSentSuccess }}
              </div>
              
              <!-- Error Message -->
              <div *ngIf="emailSendError" class="text-red-600 text-center mt-2 font-bold">
                {{ emailSendError }}
              </div>

            <!-- Reset Password Form -->
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label for="email" class="block text-sm text-white">Email</label>
                    <input 
                        type="email"
                        formControlName="email"
                        placeholder="Enter your email"
                        id="email"
                        class=" text-black w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                    />
                    <div *ngIf="resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched" class="text-red-600">
                     valid email is required
                    </div>
                </div>
                <button type="submit"
                        class="w-full py-2 px-4 bg-[#674188] hover:bg-[rgba(103,65,136,0.5)] text-white font-semibold rounded-md transition duration-200">
                    Send Reset Link
                </button>
            </form>

            <div class="mt-6 text-center">
                <p class="text-sm mb-4">Remembered your password?
                    <a routerLink='/auth/login' class="text-[#674188] hover:text-[rgba(103,65,136,0.5)] font-semibold">
                        Log in
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
